@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.currentDay-wrapper{
    padding: 2vw;
    margin: auto;
    max-width: 600px;
    max-height: 200px;
    font-family: 'Amatic SC', cursive;
    list-style: none;
    background-color: transparent;
    border-radius: 3rem;
    box-shadow: 0 0 1rem #061552;
    position: relative;
    text-align: left;
    
    .titleDescription{
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        color: black;

        .currentCityName{
            font-size: 1.1vw;
            font-weight: bold;
        }
        .currentDay{
            font-size: 0.8vw;
        }
        .condition{
            font-size: 0.8vw;
        }
        
    }
    .weatherDescription{
        display: flex; 
        margin: 1rem auto;
        color: black;
        
        
        .icon{
            width: 4rem;
            height: 4rem;
            margin:  4rem auto;
        }
        .temperature{
            font-size: 2.1vw;
            margin: 4rem auto;
        }
        .celcius{
            font-size: 1vw;
            
            cursor: pointer;
            margin: 3.5rem auto;

            
        }
        .separator{
            font-size: 0.9vw;
            
            margin: 3.5rem auto;
        }
        .fahrenheit{
            font-size: 1vw;
            
            margin: 3.5rem auto;
            cursor: pointer;
            
        }
    
        .detailedDescription{
            font-size: 0.8vw;
            position: relative;
            text-align:left;
            margin-top: 4rem;
            margin-left: 13rem;
            color: black;
        }
        
    }

    
}

.upcomingDays-wrapper{
    display: flex;
    margin:  2rem auto;
    justify-content: space-evenly;
    width: 80%;
    max-width: 600px;
    font-family: 'Amatic SC', cursive;
    list-style: none;
    background-color: transparent;
    position: relative;
    
    .card{
        
        padding: 1vw;
        max-width: 6rem;
        width: 80%;
        height: 8rem;
        box-shadow: 0 0 1rem #061552;
        border-radius: 1rem;
        line-height: 1rem;
        color: black;

        .day{
            font-size: 0.75rem;
            text-align: center ;
        }
        .card-icon{
            width: 4rem;
            align-items: center;
        }
        .min-max{
            text-align: center;
        }
    }
    .card:hover{
        box-shadow: 0 0 1rem #740606
    }
    .card:active{
        box-shadow:  3px 2px 22px 1px gold;
    }
}


.timeIntervalWrapper{
    padding: 2.5vw;
    margin:  2rem auto;
    max-width: 600px;
    min-height: 210px;
    font-family: 'Amatic SC', cursive;
    list-style: none;
    background-color: transparent;
    border-radius: 3rem;
    box-shadow: 0 0 1rem #061552;
    position: relative;
    text-align: left;

    .timeIntervalForecast{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .time{
            justify-content: center;
        }
    
    }

}