
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.title{
    padding: 10px;
    margin: 0;
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 2rem;
    position:relative;
    justify-content: center;
    height: 10px;
    color: rgb(35, 38, 132);
}